
To compile ffmpeg on an x86 Linux/Unix machine with MMX enabled, type the following: 
	./configure --disable-strip
	make
and if desired,
	make install

Alternatively, to compile ffmpeg on an x86 Linux/Unix machine with MMX completely disabled, type the following: 
	./configure --disable-strip --disable-mmx

    Then to completely disable MMX, edit config.mak and DELETE the following two lines:
	TARGET_BUILTIN_VECTOR=yes
	TARGET_BUILTIN_3DNOW=yes
    and likewise edit config.h and DELETE the following two lines:
	#define HAVE_BUILTIN_VECTOR 1
	#define HAVE_MM3DNOW 1

    Then compile ffmpeg by typing:
	make
and if desired,
	make install

